@import url("https://fonts.googleapis.com/css2?family=Ysabeau:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
    scroll-behavior: smooth;
}

/* progress bar: fixed position (always stay at the bottom) */
.header {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  .progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
  }
/*scroll to top button*/
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
}

#scrollToTopBtn:hover {
    background-color: #333;
}
/* Menu Bar */

.menu-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
    display: flex;
    justify-content: flex-end; 
    transform: translateX(100%); 
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
    opacity: 0; 
    pointer-events: none; 
  }
  
  
  .menu-container.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto; 
  }
  
  .menu {
    background: rgba(30, 23, 20, 0.8);
    
    width: 300px;
    height: 100vh;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3rem;
    cursor: pointer;
    color: white;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu ul li {
    margin: 20px 0;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
  }
  .menu ul li a:hover{
    color: green;
  }
  
  .menu-button {
    font-size: 2.2rem;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 14;
    color: #03a254;
    cursor: pointer;
  }
  
    
    .menu-button:hover {
        color: green;
    }
/*  */
.quickLinkTextWrapper {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    /* padding-left: 10rem; */
    align-items: center;
    gap: 3rem;
    width: 70%;
}

.socialmediaTextWrapper {
    display: flex;
    justify-content: center;
    width: 10%;
}

/* things to do/ */
/* transistion part left of social media  */

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    /* height: 600vh; */
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
}


html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.section {
    margin-bottom: 5rem;
}

.banner {
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 1fr;
    margin-bottom: 0;
}
@media only screen and (max-width: 1024px) {
    .banner::before {
     
        width: 100%;
    }
}

.banner::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(29, 29, 29, 0.6)),
        url("../images/child-hands-holding-caring-young-green-plant.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8%;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent; /* Start as transparent */
    z-index: 10;
    height: 90px;
    transition: background-color 0.3s ease;
}

/* Class to apply dark background */
nav.dark {
    background-color: rgba(0, 0, 0, 0.829);
}

nav .logo img {
    cursor: pointer;
}

nav .nav_buttons {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 35%;
    position: relative;
}

.nav_buttons .nav_button {
    text-decoration: none;
    color: #bbbbbb;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    letter-spacing: 0.5px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    cursor: pointer;

    transition-duration: 0.3s;
    position: relative;
    text-wrap: nowrap;
}

.nav_buttons .nav_button::after {
    content: "";
    position: absolute;
    bottom: 30%;
    left: 15%;

    height: 2px;
    width: 0;

    background-color: rgb(51, 175, 20);
    border-radius: 20px;
    transition: 0.3s;
}

.nav_buttons .nav_button:hover::after {
    width: 70%;
}

.nav_buttons .nav_button:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}

.banner .body {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 2%;
}

.body .text {
    padding-top: 700px;
    color: white;
    font-size: 18px;

    text-align: center;
}

.text .Big_Text {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.514);
}

.body .page_buttons {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.page_buttons button {
    --color_1: #ffffff;
    color: #ffffff;
    background: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;

    letter-spacing: 1px;
    cursor: pointer;

    padding: 15px 25px;
    margin: 10px;

    border: 1px solid var(--color_1);

    transition: 0.5s;
    position: relative;
    overflow: hidden;
}

.page_buttons .two {
    color: #000000;
}

.page_buttons .one:hover {
    color: #000000;
}

.page_buttons .two:hover {
    color: #ffffff;
}

.page_buttons button::before {
    content: "";
    position: absolute;
    left: 0;
    height: 0;
    width: 100%;
    background: var(--color_1);
    transition: 0.5s;
    z-index: -1;
}

.one::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}

.two::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.page_buttons .two::before {
    height: 180%;
}

.page_buttons .one:hover::before {
    height: 180%;
}

.page_buttons .two:hover::before {
    height: 0;
}

.locations {
    margin: 0px auto;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr); */
    /* justify-items: center; */
    align-items: center;
}

.locations .heading {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 35px;
    width: 100%;
    text-align: center;
}

.locations .line {
    height: 1px;
    width: 60%;
    background-color: #000000;
    margin: 20px auto;
}

.image_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    row-gap: 10px;
    column-gap: 10px;
    padding: 20px;
}

.locations img {
    width: 100%;
    border-radius: 10px;

    transition: 2sec;
    background-image: red;
}

.locations .country_images {
    position: relative;
    transition: 0.5s;
    cursor: pointer;
    margin: 5px 10px;
    display: flex;
}

.locations .country_images:hover {
    transform: scale(1.05);
}

.country_images span {
    color: white;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    position: absolute;
    bottom: 0;
    top: 80%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.562);
    border-radius: 0px 0px 10px 10px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.locations .country_images:hover span {
    background-color: #ffffff;
    color: #000000;
    outline: 1px solid rgba(0, 0, 0, 0.248);
}

.events {
    height: 60vh;

    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
        url(../images/Event.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plant_with_us {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    letter-spacing: 0.5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.514);
}

.join_us {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    text-shadow: none;
}

.events button {
    color: #ffffff;
    background: none;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;

    padding: 15px 25px;
    margin: 40px;
    border: 1px solid #ffffff;
    cursor: pointer;

    transition: 0.5s;
}

.events button:hover {
    transform: scale(1.05);
    color: #000000;
    background-color: #ffffff;
}

.Video {
    margin: 2em auto;
    width: 70vw;
    height: 80vh;
}

.Goals {
    width: 80vw;
    margin: 0px auto;
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* display: grid;
    grid-template-rows: 0.3fr 1fr;
    grid-template-columns: repeat(3, 1fr); */
    column-gap: 15vh;
    text-align: center;
}

.Goals .heading {
    width: 100%;
    text-align: center;
    font-size: 35px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.Goals .line {
    height: 1px;
    width: 60%;
    margin: 20px auto;
    background-color: #000000;
}

.Goals .images {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.377);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    margin: 5px 10px;
    padding: 10px 5px;
    gap: 4%;
    font-size: 14px;
    transform: scale(1);
    transition: all 1s;
}
.Goals .images:hover {
    box-shadow: 0px 4px 5px rgba(24, 186, 12, 0.377);
    transform: scale(1.05);
}

.Goals .images img {
    margin: 5% auto;
}

.Goals .images span {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.Goals .images .text {
    flex: 1;
    padding: 2%;
}

.get_involved {
    margin: 0px auto;
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.get_involved .Option {
    height: 400px;
    width: 340px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.5s ease, transform 0.5s ease-in-out,
        color 0.5s ease-in-out;
}

.get_involved .Option:hover {
    background-color: rgba(149, 165, 166, 0.1);
    transform: scale(1.02);
    color: lightgreen;
}

.get_involved #_1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../images/Individual.webp");
    background-size: cover;
}

.get_involved #_2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../images/Businesses.webp");
    background-size: cover;
}

.get_involved #_3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../images/School.webp");
    background-size: cover;
}

.Donate {
    /* height: 60vh; */
    padding: 10vh 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../images/donation.webp");
    background-size: cover;
    background-attachment: fixed;

    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Donate .text {
    position: relative;

    text-align: center;
    font-size: 25px;
    font-family: "Ysabeau", sans-serif;
}

.Donate span {
    font-size: 20px;
}

.Donate button {
    color: #000000;
    background: white;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;

    padding: 15px;
    border: 1px solid #ffffff;
    cursor: pointer;

    transition: 0.5s;
}

.Donate button:hover {
    transform: scale(1.05);
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
}

/* footer */

.footer {
    margin-top: 4.5rem;
    background-color: #141414;
    box-sizing: border-box;
    border-top: 1px solid black;
    color: rgb(160, 160, 160);
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 0.5rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upperHeading {
    display: flex;
    width: 100%;
    justify-content: center;
}

.qLine {
    background-color: grey;
    width: 200px;
    height: 1px;
}

.upper_part {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: red; */
}

.links {
    flex: 1.5;
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem 10%;
    height: auto;
}

.quick-links,
.socialmediaTxt {
    font-family: "Poppins", sans-serif;
    color: green;
    letter-spacing: 1px;
    font-weight: 600;
}

.upper_part .links a {
    text-decoration: none;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
    color: rgb(160, 160, 160);
    font-size: 15px;
    position: relative;
    transition: 0.2s;
}

.links a:hover {
    color: rgb(255, 255, 255);
}

.links .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.upper_part .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.container input {
    height: 30px;
    width: 250px;

    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding-left: 10px;
    margin: 5px;
    background-color: white;
}

.container input::placeholder {
    font-size: 12px;
}

.container button {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    letter-spacing: 0.5px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid white;

    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.container .Login a {
    color: white;
}

.copyright-disclaimer {
    font-size: 14px;
    color: white;
    padding-top: 1rem;
    text-align: center;
    margin: auto;
}

.footer .lower_part {
    flex: 0.3;
    display: flex;
}

.footer-line {
    width: 100%;
    height: 1px;
    background-color: grey;
    text-align: center;
}

.lower_part {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.social_medias {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    margin: auto;
    padding-top: 0.5rem;
}

.lower_part .rights_reserved {
    position: absolute;
    bottom: 60%;
    right: 35%;
}

.imgWrapper a {
    display: flex;
    align-items: center;
    height: 32px;
    transition: transform 0.75s ease-in-out;
}

.imgWrapper i {
    font-size: 20px;
    margin-right: 10px;
}

.lower_part {
    gap: 10px;
}

.socialmediaName {
    text-decoration: none;
    color: rgb(160, 160, 160);
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    transition: 0.2s;
    letter-spacing: 0.5px;
}

.socialmediaName:hover {
    color: #ffffff;
}

.hidden {
    display: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value as needed */
    z-index: 1;
}

.popup {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    height: 192px;
    width: 350px;
    transform: translate(-50%, -50%);
    background-color: #fffd;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    transition: 0.2s;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.popup p {
    margin: 20px auto;
    text-align: center;
}
.popup button {
    --color_2: #111111;
    color: #111111;
    background: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    width: 150px;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 15px 25px;

    margin: auto;
    margin-top: 40px;
    border: 1px solid var(--color_2);
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}
.popup button:hover {
    transform: scale(1.1);
    color: white;
    background: black;
}
.closePopupButton {
    display: block;
    margin-top: 10px;
}
.row {
    color: white;
    /* background-color: #f5f5dc; Beige color */
    padding: 1em;
    border-radius: 1px;
    font-weight: 700;
}

/* You can further style the .content-box class as needed */

.glass {
    background: rgba(
        255,
        255,
        255,
        0.1
    ); /* Semi-transparent white background */
    border-radius: 15px; /* Rounded corners */
    padding: 2rem; /* Padding around content */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    backdrop-filter: blur(10px); /* Blur effect */
    /* border: 1px solid rgba(255, 255, 255, 0.2); Border with semi-transparent white */
    text-align: center; /* Center align text */
    color: #000; /* Text color */
}

.glass div {
    text-align: left;
    color: rgb(187, 187, 187);
    font-weight: 300;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.glass h2 {
    font-family: "Poppins", sans-serif;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black; /* Black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1; /* Initial opacity */
    transition: opacity 1s ease; /* Fade transition */
}
#preloader.fade-out {
    opacity: 0; /* Fade out effect */
    pointer-events: none; /* Prevent interaction during fade out */
}

#preloader img {
    width: 150px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    animation: pulse 1.5s infinite; /* Add animation */
}
